body{
    font-family:'Playfair Display',sans-serif;
    font-size: 1.2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100vw;
    overflow: hidden;
  
}
#App{
    width: 90vw;
    height: 90vh;
    display: flex;
    flex-direction: row;
    
   

}
#LeftContainer{
    flex: 1;
    
    display: flex;
    flex-direction: column;
    
   
}
#MainInfoContainer{
    padding-top: 5%; 
    flex: 1;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 2fr 1fr 1fr;
    align-items: center;
    justify-content: space-around;
    margin-bottom: 40%;
   

}
#SearchContainer{
    align-items:start;
    padding-bottom: 5%;
    flex: 1;
}



#SearchContainer input{
    height: 2rem;
    border-radius: 5px;
    border: none;
    color: black;
    border-bottom: 3px solid;
    font-size: 1rem;
    background-color: rgba(255, 255, 255, 0.418);
    font-family: 'Playfair Display',sans-serif;
    cursor: pointer;
}
#SearchContainer input:focus{
    outline: none;
    border: 1px solid ;
}
#SearchContainer button{
    width: fit-content;
    height: 2rem;
    border-radius: 5px;
    background-color: gray;
    cursor: pointer;
}
#SearchContainer button:hover{
    
    animation: fillColorRtoL 0.1s ease-in forwards;
}
@keyframes fillColorRtoL{
    0%{
        background-color:grey;
        
    }
    100%{
        background-color: rgba(255, 255, 255, 0.418);
    }

}
#SearchContainer button:active{
    animation: fillColorLtoR 0.1s ease-in forwards;
}
@keyframes fillColorLtoR{
    0%{
        background-color: var(--BackgroundColor);
        
    }
    100%{
        background-color: var(--BackgroundColorDark);
        
    }

}
#City{
    grid-row: 2/3;
    font-size: 2em;
    font-weight: 700;
}

#Temp{

    flex: 2;
    font-size: 3em;
    font-weight: 700;
    text-align: start;
}
#TempAndIconContainer{
    width: fit-content;
    grid-row: 1/2;
    display: flex;
    flex-direction: row;
    justify-content: left;
    align-items: left;
    
}
#Icon{
    flex: 1;
    width:100px;
    align-items: start;
   
}

#ExtraInfo{
    grid-row: 3/4;
    display: flex;
    justify-content: start;
    align-items: start;
    text-align: start;
    flex-wrap: wrap;
    width: 40%;
    height: 100%;
}
#Time{
    flex: 1;
    font-size: 1em;
    font-weight: 700;
}
#Humidity{
    position: relative;
    flex: 1;
    margin-right: 5px;
    font-size: 1em;
    font-weight: 700;

}#Humidity::after {
    content: "";
        top: 0; 
    left: 0; 
    opacity: 0;
    transition: opacity 0.3s ease-in-out 0s;
    display: block; 

}

#Humidity:hover::after {
   
    
    content: "Humidity";
    opacity: 1;
    font-size: smaller;
    font-weight: lighter;
    
}
#ChanceOfRain{
    flex: 1;
    margin-right: 5px;
    font-size: 1em;
    font-weight: 700;
}
#ChanceOfRain::after {
    content: "";
        top: 0; 
    left: 0; 
    opacity: 0;
    transition: opacity 0.3s ease-in-out 0s;
    display: block; 

}

#ChanceOfRain:hover::after {
   
   
    content: "Rain Chance"; 
    opacity: 1;
    font-size:small;
    font-weight:500;
    
}


#RightContainer{
 
    flex: 2;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr;
    justify-content: center;
    align-items: center;

   
}
#HourlyContainer {
    position: relative;
    display: flex;
    overflow-x: auto; 
    justify-content: space-between; 
    align-items: center;
    border-radius: 10%;
    width: 100%; 
    max-width: 100%;
    box-sizing: border-box; 
}
#HourlyContainer::-webkit-scrollbar{
    display: none;
    
}
.DescriptionContainer{
    position: absolute;
    top: 0;
    width: calc(100%);
    box-sizing: border-box;

}
.Description{
   position: relative;
    top: 0;
    left: 0;
   width: fit-content;
    font-size: 1em;
    font-weight: 700;
   

}
.HourlyInfo{

    
    flex: 0 0 auto; 
    width: calc(90% / 6);
    height: calc(90% / 6);
    border-right : 1px rgba(0, 0, 0, 0.276) solid;
    background-color: rgba(128, 128, 128, 0.16);
    border-radius: 5px;
    display: grid;
    grid-template-rows: 1fr 1fr 1fr;
    justify-content: center;
    align-items: center;
    overflow-y: hidden;
}
.HourlyInfo::-webkit-scrollbar{
    display: none;
}
.HourlyTime{
    justify-content: center;
    align-items: center;
    font-size: 1em;
    font-weight: 400;
    grid-row: 1/2;
}
.HourlyTemp{
    font-size: 1em;
    font-weight: 400;
    grid-row: 3/4;

}
.HourlyIcon{
   
    grid-row: 2/3;

    width: 2em;
    height: 2em;
    font-size: 1.5em;
    font-weight: 700;

}
#DailyContainer{
    display: flex;
    position: relative;

    overflow-x: hidden; 
    justify-content: space-between; 
    align-items: center;
    padding: 5% 2% 2% 2%;
    width: 100%; 
    max-width: 100%;
    box-sizing: border-box; 
}
#dailyContainer::-webkit-scrollbar{
    display: none;
    
}
#DailyTitle{
    position: absolute;
    top: 0;
    width: calc(100%);
    box-sizing: border-box;
    font-size: 1.5em;
    font-weight: 700;

}
.DailyInfo{
    border-left: 1px solid rgba(0, 0, 0, 0.557);
    border-right: 1px solid rgba(0, 0, 0, 0.557);
    flex: 0 0 auto; 
    background-color: rgba(128, 128, 128, 0.16);
    width: calc(100% / 3);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    overflow-y: hidden;
}
.Date{
    font-size: 1em;
    font-weight: 700;
    flex: 1;
}
.DailyTemp{
  
    
    font-size: 1em;
    font-weight: 700;
   flex: 1;
}
.DailyIconContainer{
    flex: 2;
    display: flex;

    
}
.DailyIcon{
    flex: 1;
    width: 2em;
    height: 2em;
    font-size: 1.5em;
    font-weight: 700;
}

@media (max-width: 480px) {
    body {
        font-size: 1rem; /* Adjust base font size for mobile */
    }
    #App {
        flex-direction: column; /* Stack content vertically */
        width: 100vw;
        height: auto;
    }
    #LeftContainer, #RightContainer {
        flex: 1 0 100%; /* Take full width on mobile */
    }
    #MainInfoContainer, #HourlyContainer, #DailyContainer #searchContainer {
        grid-template-columns: 1fr; /* Adjust grid for single column layout */
        margin-bottom: 20%; /* Adjust spacing */
     
    }
    #SearchContainer {
        display: flex;
        flex-direction: row;
    }
    #SearchBar {
        flex: 10; 

    }
    #SearchButton {
        flex: 1; 
    }
    #MainInfoContainer{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        
    }
    #TempAndIconContainer, #ExtraInfo {
        flex-direction: column; /* Stack info vertically */
        align-items: center; /* Center-align items for aesthetics */
    }
    #SearchContainer input, #SearchContainer button {
        width: 90%; /* Adjust width for better fit */
        font-size: 0.9rem; /* Adjust font size for readability */
    }
    .HourlyInfo, .DailyInfo {
        width: 30%; /* Adjust width to fit mobile screen */
    }
    /* Adjust font sizes for various components for better readability on small screens */
    .HourlyTime, .HourlyTemp, .Date, .DailyTemp {
        font-size: 0.8rem;
    }
    #Icon, .HourlyIcon, .DailyIcon {
        width: 1.5em; /* Adjust icon sizes */
        height: 1.5em;
    }
}


